NiFi_Flow.json
{"flowContents":{"identifier":"91dbcded-453b-304c-bf2d-a56904c585bc","instanceIdentifier":"f7e495cc-0199-1000-97d4-d56d5642785b","name":"NiFi Flow","comments":"","position":{"x":0.0,"y":0.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"332942df-ec28-388f-a540-443731a21ae3","instanceIdentifier":"078c583d-019a-1000-8163-e4457b7fc76d","name":"ExecuteScript","comments":"","position":{"x":632.0,"y":248.0},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"1.27.0"},"properties":{"Script File":null,"Script Engine":"Groovy","Script Body":"import java.text.SimpleDateFormat\nimport java.util.Date\nimport java.util.TimeZone\n\ndef flowFile = session.get()\nif(!flowFile) return\n\ntry {\n    // Lire les attributs\n    long ts_dt = flowFile.getAttribute('timestamp') as long\n\n    // Formatter\n    def sdf = new SimpleDateFormat(\"yyyy-MM-dd HH:mm:ss\")\n    sdf.setTimeZone(TimeZone.getTimeZone(\"UTC\"))\n\n\n    def dt_local = new Date(ts_dt * 1000)\n\n    // Ajouter les attributs lisibles\n    flowFile = session.putAttribute(flowFile, \"date\", sdf.format(dt_local))\n\n\n    session.transfer(flowFile, REL_SUCCESS)\n} catch(Exception e) {\n    log.error(\"Erreur dans ExecuteScript Groovy : \" + e.toString())\n    session.transfer(flowFile, REL_FAILURE)\n}","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"91dbcded-453b-304c-bf2d-a56904c585bc"},{"identifier":"bd628dd1-3cbb-3362-9e47-5bc15e7d393e","instanceIdentifier":"f8dd2267-0199-1000-337a-542dc240ec4e","name":"ExecuteScript","comments":"","position":{"x":608.0,"y":32.0},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"1.27.0"},"properties":{"Script File":null,"Script Engine":"Groovy","Script Body":"import java.time.Instant\nimport java.time.ZoneOffset\nimport java.time.format.DateTimeFormatter\n\nflowFile = session.get()\nif (!flowFile) return\n\ntry {\n    def ts = flowFile.getAttribute('timestamp') as long\n    def tz = flowFile.getAttribute('timezone') as long\n\n    def localTime = Instant.ofEpochSecond(ts)\n        .plusSeconds(tz)\n        .atZone(ZoneOffset.UTC)\n        .format(DateTimeFormatter.ofPattern(\"yyyy-MM-dd HH:mm:ss\"))\n\n    flowFile = session.putAttribute(flowFile, \"local_time\", localTime)\n    session.transfer(flowFile, REL_SUCCESS)\n} catch (Exception e) {\n    log.error(\"Erreur lors de la conversion de l'heure locale : \" + e.message)\n    session.transfer(flowFile, REL_FAILURE)\n}\n","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"91dbcded-453b-304c-bf2d-a56904c585bc"},{"identifier":"480db7e9-7b11-3c82-8bcf-dd9c505f2460","instanceIdentifier":"f83b2979-0199-1000-f321-695a8b9f5fa3","name":"PublishKafka_2_0","comments":"","position":{"x":1216.0,"y":352.0},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafka_2_0","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-0-nar","version":"1.27.0"},"properties":{"compression.type":"none","attribute-name-regex":null,"bootstrap.servers":"kafka:9092","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"kafka-key":null,"partition":null,"sasl.mechanism":"GSSAPI","max.block.ms":"5 sec","message-header-encoding":"UTF-8","message-demarcator":null,"transactional-id-prefix":null,"ack.wait.time":"5 secs","sasl.username":null,"use-transactions":"false","acks":"0","aws.profile.name":null,"security.protocol":"PLAINTEXT","ssl.context.service":null,"max.request.size":"1 MB","sasl.token.auth":"false","Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","sasl.kerberos.keytab":null,"topic":"weather_data","key-attribute-encoding":"utf-8"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"kafka-key":{"name":"kafka-key","displayName":"Kafka Key","identifiesControllerService":false,"sensitive":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"message-demarcator":{"name":"message-demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false},"aws.profile.name":{"name":"aws.profile.name","displayName":"AWS Profile Name","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Authentication","identifiesControllerService":false,"sensitive":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"key-attribute-encoding":{"name":"key-attribute-encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"91dbcded-453b-304c-bf2d-a56904c585bc"},{"identifier":"e339af12-7f06-3514-b264-c79b09d69b97","instanceIdentifier":"f835d4a3-0199-1000-26e0-1341f8d5abf0","name":"AttributesToJSON","comments":"","position":{"x":1192.0,"y":-40.0},"type":"org.apache.nifi.processors.standard.AttributesToJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.27.0"},"properties":{"attributes-to-json-regex":null,"Destination":"flowfile-content","Null Value":"false","Attributes List":"timestamp,date,local_time,city_name,latitude,longitude,weather_description,température,feels_like,min_temp,max_temp,humidité,wind_speed,pression","Pretty Print":"false","Include Core Attributes":"true","JSON Handling Strategy":"ESCAPED"},"propertyDescriptors":{"attributes-to-json-regex":{"name":"attributes-to-json-regex","displayName":"Attributes Regular Expression","identifiesControllerService":false,"sensitive":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Null Value":{"name":"Null Value","displayName":"Null Value","identifiesControllerService":false,"sensitive":false},"Attributes List":{"name":"Attributes List","displayName":"Attributes List","identifiesControllerService":false,"sensitive":false},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false},"Include Core Attributes":{"name":"Include Core Attributes","displayName":"Include Core Attributes","identifiesControllerService":false,"sensitive":false},"JSON Handling Strategy":{"name":"JSON Handling Strategy","displayName":"JSON Handling Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"91dbcded-453b-304c-bf2d-a56904c585bc"},{"identifier":"d799bdfc-50bb-3dc6-9aca-eaf21e34b8f3","instanceIdentifier":"f7edbfd8-0199-1000-1bbe-0b66d5632432","name":"InvokeHTTP","comments":"","position":{"x":144.0,"y":-40.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.27.0"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"https://api.openweathermap.org/data/2.5/weather?q=Casablanca&appid=e4b98cf2129bc790487c42e3ea7703fb&units=metric","form-body-form-name":null,"Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Socket Write Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"30 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"91dbcded-453b-304c-bf2d-a56904c585bc"},{"identifier":"63f072a7-7597-3e1f-ba79-86baea99fc32","instanceIdentifier":"f7fc9efb-0199-1000-ec9e-90bc5f05fd4e","name":"EvaluateJsonPath","comments":"","position":{"x":112.0,"y":240.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.27.0"},"properties":{"Destination":"flowfile-attribute","weather_description":"$.weather[0].description","Max String Length":"20 MB","timezone":"$.timezone","Return Type":"auto-detect","latitude":"$.coord.lat","pression":"$.main.pressure","humidité":"$.main.humidity","Null Value Representation":"empty string","feels_like":"$.main.feels_like","Path Not Found Behavior":"warn","city_name":"$.name","min_temp":"$.main.temp_min","wind_speed":"$.wind.speed","température":"$.main.temp","max_temp":"$.main.temp_max","timestamp":"$.dt","longitude":"$.coord.lon"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"weather_description":{"name":"weather_description","displayName":"weather_description","identifiesControllerService":false,"sensitive":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false},"timezone":{"name":"timezone","displayName":"timezone","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"latitude":{"name":"latitude","displayName":"latitude","identifiesControllerService":false,"sensitive":false},"pression":{"name":"pression","displayName":"pression","identifiesControllerService":false,"sensitive":false},"humidité":{"name":"humidité","displayName":"humidité","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"feels_like":{"name":"feels_like","displayName":"feels_like","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false},"city_name":{"name":"city_name","displayName":"city_name","identifiesControllerService":false,"sensitive":false},"min_temp":{"name":"min_temp","displayName":"min_temp","identifiesControllerService":false,"sensitive":false},"wind_speed":{"name":"wind_speed","displayName":"wind_speed","identifiesControllerService":false,"sensitive":false},"température":{"name":"température","displayName":"température","identifiesControllerService":false,"sensitive":false},"max_temp":{"name":"max_temp","displayName":"max_temp","identifiesControllerService":false,"sensitive":false},"timestamp":{"name":"timestamp","displayName":"timestamp","identifiesControllerService":false,"sensitive":false},"longitude":{"name":"longitude","displayName":"longitude","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"91dbcded-453b-304c-bf2d-a56904c585bc"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"92f99e24-8a7a-354a-983f-6f3d1a494063","instanceIdentifier":"f8e1b758-0199-1000-67d8-0485ab137bc4","name":"","source":{"id":"63f072a7-7597-3e1f-ba79-86baea99fc32","type":"PROCESSOR","groupId":"91dbcded-453b-304c-bf2d-a56904c585bc","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"f7fc9efb-0199-1000-ec9e-90bc5f05fd4e"},"destination":{"id":"332942df-ec28-388f-a540-443731a21ae3","type":"PROCESSOR","groupId":"91dbcded-453b-304c-bf2d-a56904c585bc","name":"ExecuteScript","comments":"","instanceIdentifier":"078c583d-019a-1000-8163-e4457b7fc76d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"91dbcded-453b-304c-bf2d-a56904c585bc"},{"identifier":"824fa0e4-2d06-314a-a3da-0b6e8746cfb4","instanceIdentifier":"078ca73e-019a-1000-edb0-1063b6ef656e","name":"","source":{"id":"332942df-ec28-388f-a540-443731a21ae3","type":"PROCESSOR","groupId":"91dbcded-453b-304c-bf2d-a56904c585bc","name":"ExecuteScript","comments":"","instanceIdentifier":"078c583d-019a-1000-8163-e4457b7fc76d"},"destination":{"id":"bd628dd1-3cbb-3362-9e47-5bc15e7d393e","type":"PROCESSOR","groupId":"91dbcded-453b-304c-bf2d-a56904c585bc","name":"ExecuteScript","comments":"","instanceIdentifier":"f8dd2267-0199-1000-337a-542dc240ec4e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"91dbcded-453b-304c-bf2d-a56904c585bc"},{"identifier":"90a712ef-0917-3db6-b73e-5d561d2306fa","instanceIdentifier":"f8e3df65-0199-1000-b511-30b6b4bd97a9","name":"","source":{"id":"bd628dd1-3cbb-3362-9e47-5bc15e7d393e","type":"PROCESSOR","groupId":"91dbcded-453b-304c-bf2d-a56904c585bc","name":"ExecuteScript","comments":"","instanceIdentifier":"f8dd2267-0199-1000-337a-542dc240ec4e"},"destination":{"id":"e339af12-7f06-3514-b264-c79b09d69b97","type":"PROCESSOR","groupId":"91dbcded-453b-304c-bf2d-a56904c585bc","name":"AttributesToJSON","comments":"","instanceIdentifier":"f835d4a3-0199-1000-26e0-1341f8d5abf0"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"91dbcded-453b-304c-bf2d-a56904c585bc"},{"identifier":"77cd6503-4df7-3174-a197-5e73472614a2","instanceIdentifier":"f83e3e42-0199-1000-a4ff-886587953f8d","name":"","source":{"id":"e339af12-7f06-3514-b264-c79b09d69b97","type":"PROCESSOR","groupId":"91dbcded-453b-304c-bf2d-a56904c585bc","name":"AttributesToJSON","comments":"","instanceIdentifier":"f835d4a3-0199-1000-26e0-1341f8d5abf0"},"destination":{"id":"480db7e9-7b11-3c82-8bcf-dd9c505f2460","type":"PROCESSOR","groupId":"91dbcded-453b-304c-bf2d-a56904c585bc","name":"PublishKafka_2_0","comments":"","instanceIdentifier":"f83b2979-0199-1000-f321-695a8b9f5fa3"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"91dbcded-453b-304c-bf2d-a56904c585bc"},{"identifier":"9924b0d6-0cf0-3a8f-9069-b71d67ad82df","instanceIdentifier":"f7fdd1fd-0199-1000-d7b1-2be3c73a71c4","name":"","source":{"id":"d799bdfc-50bb-3dc6-9aca-eaf21e34b8f3","type":"PROCESSOR","groupId":"91dbcded-453b-304c-bf2d-a56904c585bc","name":"InvokeHTTP","comments":"","instanceIdentifier":"f7edbfd8-0199-1000-1bbe-0b66d5632432"},"destination":{"id":"63f072a7-7597-3e1f-ba79-86baea99fc32","type":"PROCESSOR","groupId":"91dbcded-453b-304c-bf2d-a56904c585bc","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"f7fc9efb-0199-1000-ec9e-90bc5f05fd4e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"91dbcded-453b-304c-bf2d-a56904c585bc"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}